/* .hello {
  color: red;
  font-size: 3rem;
  background: url('./icon.png');
  background-repeat: no-repeat;
} */

* {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  border: 1px solid black;
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  box-shadow: 2px 2px 8px black;
  background-color: rgba(177, 173, 173, 0.199);
}

h1 {
  font-size: 1.9rem;
  font-weight: 400;
  padding-left: 0;
}

hr {
  margin-left: 0;
  width: 90%;
  font-weight: 100;
  color: rgb(228, 222, 222);
}

.list-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

#add-list {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  width: 90%;
  height: 1rem;
}

#new-list {
  display: flex;
  flex-direction: column;
}

.list {
  width: 69%;
  font-size: 1rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  width: 20px;
  height: 20px;
  padding-left: 95%;
  display: none;
}

.trashIcon {
  width: 20px;
  height: 20px;
  padding-left: 95%;
}

.iconEdit {
  width: 20px;
  height: 20px;
  padding-left: 95%;
  display: none;
}

a {
  color: black;
  padding: 1rem;
  padding-bottom: 1.5rem;
  width: fit-content;
  align-self: center;
  height: 1.61rem;
  font-size: 1rem;
}
